*{
    margin:0;
    padding:0;
    color: hsl(0deg 0% 90%);
    font-family: sans-serif;
}

body{ 
    background: hsl(216deg 7% 5% / 90%);
}
.container{
    width:1100px;
    height: 105rem;
    border: 3px solid hsl(0deg 0% 90%);
    border-radius: 2%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0 150px 0 150px;
}

.header{
    font-size: 120%;
}

.nav{
    width:inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}

.main{
    width: 900px;
    height: 70rem;
    border: 3px solid hsl(0deg 0% 90%);
    border-radius: 2%;
}

.about-us-banner {
    margin: 5rem;
    height: 20rem;
    border: 3px solid hsl(0deg 0% 90%);
}